:root {
        /* Primary */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    /* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
    --Font-size: 15px;
    /* ### Font */

    --Family: 'League Spartan';
    --Weights1: 400;
    --Weights2: 500;
    --Weights3: 700;
}
* {
    box-sizing:border-box ;
    margin: 0;
    padding:  0;
}
.social {
    position: relative;
}
.social  .bottom {    
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: -30px;
}
.social  .top  {
    position: absolute;
    z-index: 5;
    left: -40px;
    top: -35px;
}
@media (max-width:376px) {
    .social .top ,.social .bottom {
        display: none;
    }
}
.social .container {
    margin: 20px auto;
    background-color: var(--White);
    font-family: var(--Family);
    position: relative;
    padding: 100px 0;
}
.social .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width:1007px) {
    .social .container .row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
.social .container .row .row-left {
    height: auto;
}
@media (max-width:1007px) {
    .social .container .row .row-left {
        margin-bottom: 20px;
    }
}
.social .container .row .row-left h1{
    font-family: var(--Family);
    font-size: 45px;
    color: var(--Very-Dark-Magenta);
    margin-bottom: 25px;
    width: 300px;
    font-weight: var(--Weights3);
}
.social .container .row-left  p{
    font-family: var(--Family);
    font-size: var(--Font-size);
    width: 350px;
    line-height: 1.6;
    color: var(--Dark-Grayish-Magenta);
}
.social .container .row-right {
    position: relative;
    transform: translateX(-50px);
}
.social .container .row-right div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: var(--Light-Grayish-Magenta);
    margin-bottom: 15px;
    color: var(--Very-Dark-Magenta);
    font-size: var(--Font-size);
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: var(--Weights3);
}

.social .container .row-right div:nth-child(1) {
    transform: translateX(-40px);
}
.social .container .row-right div:nth-child(3) {
    transform: translateX(40px);
}
@media (max-width:1007px) {
    
.social .container .row-right div:nth-child(1), .social .container .row-right div:nth-child(3) {
    transform: translateX(0);
}
.social .container .row-right {
    transform: translateX(0px);
}
.social .container .row-right div {
    justify-content: center;
    flex-wrap: wrap;
}
.social .container .row-right div ul {
    flex-basis: 100%;
}
}
.social .container .row-right div ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.social .container .colmun {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
@media (max-width:1007px) {
    .social .container .colmun {
        justify-content: center;
        flex-direction: column;
    }
}
.social .container .colmun .box {
    background: var(--Very-Dark-Magenta);
    font-size: var(--Font-size);
    font-family: var(--Family);
    padding: 30px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.social .container .colmun .box:nth-child(1) {
    transform: translateY(-20px);
}
.social .container .colmun .box:nth-child(3) {
    transform: translateY(20px);
}
.social .container .colmun .box .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.social .container .colmun .box .info img {
    border-radius: 50%;
    width: 50px;
}
.social .container .colmun .box .info .name {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.social .container .colmun .box .info .name span {
    display: block;
    color: var(--Light-Grayish-Magenta);
}
.social .container .colmun .box .info .name span:last-child {
    color: var(--Soft-Pink);
    font-size: 15px;
    font-family: var(--Family);
}
.social .container .colmun .box  p{
    color: var(--White);
    line-height: 1.7;
    font-weight: var(--Weights2);
    font-size: 16px;
    word-spacing: 1.1px;
    margin-top: 20px;
}
@media (max-width:1007px) {
    .social .container .colmun .box {
        border-radius: 10px;
        height: 300px;
        padding: 35px;
    }
    .social .container .colmun .box .info {
        margin-left: 20px;
    }
    .social .container .colmun .box p {
        margin-left: 20px;
        font-size: 20px;
        line-height: 1.8;
    }
}
